<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    {% load static %}
    {% load filters %} 
    <link rel="stylesheet"  href="{% static 'dineIn/checkout.css' %}">
    <title>BUBBLE BOP CAFE | checkout</title>
</head>

<body>
    <div class="fis">
        <h1 class="pb-2 fw-bold fbi">BUBBLE BOP CAFE</h1>
    </div>
    <div class="row px-md-4 px-2 pt-4">
        <div class="col-lg-8">
            <p class="pb-2 fw-bold">Order</p>
            <div class="card radi">
                <div>
                    <div class="table-responsive px-md-4 px-2 pt-3">
                        <table class="table table-borderless">
                            <tbody>
                                {% for order in orders %}
                                <tr class="border-bottom">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div> <img class="pic"
                                                    src={{order.0.image}}
                                                    alt=""> </div>
                                            <div class="ps-3 d-flex flex-column justify-content">
                                                <p class="fw-bold"><span class="">{{order.0.name}}</span></p> <small
                                                    class=" d-flex"> <span class=" text-muted">type:</span> <span
                                                        class=" fw-bold">{{order.0.type}}</span> </small> <small class=""> <span
                                                        class=" text-muted">price:</span> <span class=" fw-bold">₹
                                                        {{order.0.price}}</span> </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center"> <span
                                                class="pe-3 text-muted">Quantity</span> <span class="pe-3"> <input
                                                    class="ps-2" type="number" disabled value={{order.1}} min="0"></span>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 payment-summary radi">
            <p class="fw-bold pt-lg-0 pt-4 pb-2">Payment Summary</p>
            <div class="card px-md-3 px-2 pt-4">
                <div class="d-flex flex-column p-2">
                    <form id="bill" method="POST">
                        {% csrf_token %}
                        <div class="b-bottom"">
                            {% for order in orders %}
                                <div class="d-flex justify-content-between py-1 "> <small class="text-muted">{{order.0.name}}</small>
                                    <p id="price">
                                        <input type="text" class="quantity" name={{order.0|private:"_id"}} value={{order.1}} readonly> * &nbsp;&nbsp; ₹<input type="text" class="price" value={{order.0.price}} name="price" disabled> 
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-between py-1"> <small class="text-muted">Total (without Tax)</small>
                            <p id="total">₹<input type="text" class="amount" value={{bill.total}} name="total" readonly></p>
                        </div>
                        <div class="d-flex justify-content-between py-3 b-bottom" id="taxes"> <small class="text-muted">Tax (10%)</small>
                            <p id="tax">₹<input type="text" class="amount" value={{bill.tax}} name="tax" readonly></p>
                        </div>
                        <div class="d-flex justify-content-between py-3" id="final_amount"> <small class="text-muted">Total Amount</small>
                            <p id="final">₹<input type="text" class="amount" value={{bill.final_amt}} name="final_amt" readonly></p>
                        </div>
                        {% if bill.total == 0 %}
                        <div class="payd">
                            <input type="submit" value="Checkout" class="payb" disabled>
                        </div> 
                        {% else %}
                        <div class="payd"></div>
                            <input type="submit" value="Checkout" class="payb">
                        </div> 
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>