<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In | Bubble Bop </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dineIn/login.css' %}">
</head>
<body>
    <div class="logo">
        {% load static %}
        <img src="{% static 'dineIn/images/BUBBLE BOP.png' %}" class="log" alt="logo">
    </div>
        <div class="login" >
            {% if login %}
            <form method="POST">
                {% csrf_token %}
                <h1>Login</h1>
                <div class="content">
                    <div class="input-field">
                    <input type="text" placeholder="Name" id="name" name="name" required>
                    </div>
                <div class="input-field">
                    <input type="email" placeholder="Email" id="email" name="email" required>
                </div>
                </div>
                <div class="action">
                <input type="submit" value="Send OTP" class="action" >
                {% if error %}
                 <h6>{{error}}</h6>
                {% endif %}
                </div>
            </form>
            {% endif %}
            {% if otp %}
            <form method="POST">
                {% csrf_token %}
                <div class="otp">
                    <input type="text" placeholder="OTP" autocomplete="nope" name="otp-input">
                </div>
                <div class="action">
                    <input type="submit" value="Login" class="action">
                </div>
                
            </form>
            {% endif %}
        </div>     
</body>
</html>