* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    background:url("images/vintage-old-rustic-cutlery-dark.jpg");
    background-size: cover;
    /* background: black; */
    font-family: 'Rubik', sans-serif;
    height:100vh;
    background-position: 50%;
  }
  form {
    color: black
  }
  
  .logo{
    display:flex;
    justify-content: center;
    
  }
  .log{
    width:200px;
    height: 200px;
  }

  .login {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  }
  .login h1 {
    padding: 30px 30px 0 30px;
    font-weight: 300;
    text-align: center;
    font-family:"Rubik",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .login .content {
    padding: 30px;
    text-align: center;
  }
  .login .input-field {
    padding: 12px 5px;
  }
  .login .input-field input {
    font-size: 12px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .login .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .login .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .login .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login .input-field input:focus {
    border-color: #222;
  }
  .login .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    align-items: center;
  }
  .login .action {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 15px;
    /* padding-left: 215px; */
    justify-content:center;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    /* border-bottom-left-radius: 4px;
    border-bottom-right-radius: ; */ 
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

 h6{
    text-align: center;
    color: red;
}


  .login .action button:hover {
    background: #d8d8d8;
  }
  .login .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .login .action button:nth-child(2):hover {
    background: #3c4d6d;
  }

  .login .otp input {
    font-size: 12px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 92%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .login .otp {
    padding-top: 50px;
    padding: 10px 5px;
    padding-left: 25px;
    padding-bottom: 25px;
  }